@font-face {
    -fx-font-family: 'ARCADECLASSIC';
    src: url('ARCADECLASSIC.ttf');
}

.root {
    -fx-background-image: url("images/space.png");
}

.text{
    -fx-text-fill: white;
    -fx-font-family: "ARCADECLASSIC";
}
.label{
    -fx-font-family: "ARCADECLASSIC";
    -fx-alignment: top-center;
    -fx-text-fill: white;
}
.button{
    -fx-background-color: transparent;
    -fx-font-size: 30px;
    -fx-border-color: white;
    -fx-text-fill: white;
}
.button:hover{
    -fx-background-color: white;
    -fx-text-fill: black;
}

