.text{
    -fx-font-size: 30px;
}
.choice-box .context-menu {
    -fx-border-color: white;
    -fx-background-color: transparent;
}
.choice-box .menu-item:focused {
    -fx-background-color: white;
}
.choice-box .menu-item > .label {
    -fx-text-fill: white;

}
.choice-box .menu-item:focused > .label {
    -fx-text-fill: black;
}

.choice-box {
    -fx-background-color: black;
    -fx-mark-color: #72ff4b; // arrow color
}
.choice-box > .label { -fx-text-fill: white; }


.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}