.text{
    -fx-font-size: 20px;

}
.choice-box .context-menu {
    -fx-border-color: white;
    -fx-background-color: transparent;
}
.choice-box .menu-item:focused {
    -fx-background-color: white;
}
.choice-box .menu-item > .label {
    -fx-text-fill: white;

}
.choice-box .menu-item:focused > .label {
    -fx-text-fill: black;
}

.choice-box {
    -fx-background-color: black;
    -fx-mark-color: #72ff4b; // arrow color
}
.choice-box > .label { -fx-text-fill: white; }