.text{
    -fx-text-fill: white;
}
#tytul{
    -fx-text-fill: white;
    -fx-font-size: 50px;
}
.button{
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}

.list-view{
    -fx-background-color: transparent;
}

.list-cell{
    -fx-background-color: white;
    -fx-font-size: 30px;
    -fx-opacity: 0.1;
}

.list-cell:filled{
    -fx-cell-hover-color: #f5f5f1;
    -fx-text-fill: black;
    -fx-opacity: 0.5;
}

.list-cell:filled:hover {
    -fx-cell-hover-color: #f5f5f1;
    -fx-text-fill: black;
    -fx-opacity: 0.8;
}

#newRoom{
    -fx-border-color: #ef0f0f;
    -fx-background-color: transparent;

    -fx-text-fill: #ef0f0f;
    -fx-padding: 10px 40px;
    -fx-text-align: center;
}

#newRoom:hover {

    -fx-background-color: #ef0f0f;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
