.root {
    -fx-background-image: url("images/win.jpg");
    /*-fx-background-color: white;*/
}
.button {
    -fx-background-image: url("images/over.png");
    -fx-border: none;
    -fx-background-radius: 0;
    -fx-color: white;
    -fx-padding: 20px 32px;
    -fx-text-align: center;
    -fx-font-size: 16px;


    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}
#back:hover {
    -fx-background-color: #ef0f0f;
    -fx-color: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#playAgain:hover {
    -fx-background-color: #43d844;
    -fx-color: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

